<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="TourPlanner.DataAccessLayer.PostgresSqlServer"/>
	</appSettings>

	<connectionStrings>
		<add name="PostgresSqlConnectionString" connectionString="Server=localhost;Port=5432;Database=tourplanner;Username=postgres;Password=postgres"/>
	</connectionStrings>
</configuration>